.footer {
  height: 150px;
  width: 100%;
  background-color: rgb(62, 62, 62);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons {
  display: flex;
  font-weight: bolder;
  color: rgb(144, 243, 146);
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.footer p {
  color: lightgrey;
}
